@media only screen and (max-width:425px) {

    .navbar-main{ 
        padding: 16px 20px;
    }
    .right-nav{
        display: none;
    }
    .menu-bar{ 
        max-width: 24px;
    }
    .container-content{ 
        margin-left: 20px;
    }
    .container-content h1 {
        max-width: 335px;
        font-size: 36px;
        line-height: 44px;
        
    }
    .container-content{
        margin-top: 48px;
    }
    .container-content P {
        font-size: 16px;
        line-height: 25px;
    }
    .mobile-img {
        margin-left: 30px;
    }
    .button-1 {
        padding: 16px 13px;
    }
    .mobile-img img {
        margin-top: 40px;
        max-width: 320px;
        max-height: 639px;
    }
    .client-logo {
        margin-top: -94px;
        margin-left: -40px;
    }
    .feature-section {
        margin-top: 48px;
    }


    .feature-title h2 {
        display: flex;
        font-size: 36px;
        max-width: 335px;
        margin-left: 21px;
        line-height: 48px;
    }

    .feature-title p {
        font-size: 16px;
    }

    .features {
        display: grid;
        grid-template-columns: 1fr;
        gap: 23px;
    }

    .testimonial-heading{ 
        margin-left: 10px;
    }
    .testimonial-heading img {
        max-width: 96px;
    }

    .testimonial-heading h1 {
        margin-top: -45px;
    }

    .testimonial-item1 {
        margin: 0 20px;
    }
    .testimonial-item2 {
        margin: 40px 20px;
    }

    .testimonial-item1 {
        max-width: 688px;
        padding: 17px;
    }

    .testimonial-item3 {
        padding: 28px;
        margin: 40px 20px;
    }

    .metrics-text{ 
        /* margin-left: -20px; */
    }
    .metrics-text h1 {
        font-size: 30px;
        line-height: 38px;
    }

    .achievement-cards {
        display: grid;
        grid-template-columns: 1fr;
        gap: 14px;
    }

    .achievements {
        gap: 40px;
        margin: 23px 20px;
    }

    .logo-clouds {
        display: block;

    }
    .logo-text{ 
        margin-left: -20px;
    }
    .logo-text h1 {
        font-size: 30px;
        line-height: 39px;
    }

    .integration-section-right img {
        margin-top: 20px;
        margin-left: -20px;
    }

    .cta-left h1 {
        font-size: 30px;
        line-height: 39px;
    }

    .cta-right {
        display: block;
        margin-left: 30px;
    }

    .mobile2 img {
        margin-left: -2px;
        margin-top: 0px;
    }

    .cta-left {
        gap: 4px;
        margin-left: -20px;
    }

    .footer {
        padding: 16px 20px;
    }

    .footer-main {
        display: grid;
        gap: 24px;
    }

    .footer-left-menue ul {
        flex-wrap: wrap;
    }

    .footer-left-menue a {
        font-size: 16px;
        line-height: 20px;
    }

    .footer-right {
        margin-left: 0px;
        gap: 10px
    }
}
